@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this in your global CSS file or directly in your component */
:root {
  --vh: 100%; /* Set a default value */
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
  overflow-y: hidden;
}

.full-height {
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}